/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  --bg0: #1a1a1a;
  --bg1: #121212;
  --bg2: #1e1e1e;
  --bg3: #2c2c2c;
  --bg4: #000000;
  --colGrey0: #333333;
  --colGrey1: #040404;
  --fg0: #ffffff;
}

/* BASE STYLE */
body {
  background-color: var(--bg0);
  color: var(--fg0);
  font-family: sans-serif;
}