/* RESET */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  --bg0: #1a1a1a;
  --bg1: #121212;
  --bg2: #1e1e1e;
  --bg3: #2c2c2c;
  --bg4: #000000;
  --bg5: #3d3d3d;
  --fg0: #ffffff;
  --colGrey0: #333333;
  --colGrey1: #040404;
  --colGrey2: #555555;
  --colGrey3: #444444;
  --colGrey4: #666666;
  --colGrey5: #222222;
  --colgrey6: #cccccc;
  --colGrey7: #999999;
  --colGrey8: #eeeeee;
  --colGrey9: #777777;
  --colRed0: #ff0000;
  --colRed1: #bb0000;
  --colRed2: #ee3333;
  --colRed3: #cc2222;
  --colGreen0: #22ee22;
  --colBlue0: #2222ee;
  --colPrimary0: #1e90ff;
  --colPrimary1: #1c86ee;
}

/* BASE STYLE */
body {
  background-color: var(--bg0);
  color: var(--fg0);
  font-family: sans-serif;
}